@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-weight: 600px;
  font-family: monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* A cada 1rem será considerado 10px*/
  font-size: 62.5%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  color: #252525;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 170px;
  justify-content: space-around;
}

.title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.li-icon-contact {
  margin-right: 10px;
}

/* ----------------------         TITLE GRADIENT       -----------------------------  */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inline {
  font-weight: bold;
  font-size: 1.3rem;
  background: linear-gradient(25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: mygradient 60s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes mygradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ----------------------         TEXT TYPING       -----------------------------  */

.txt-animado {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.txt-animado span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.txt-animado span::before {
  content: "";
  animation: palavras 30s infinite;
}

.txt-animado span::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: solid 1px black;
  right: -10px;
  width: calc(100% + 10px);
  animation: blink 1s infinite, typing 30s steps(15) infinite;
  background-color: white;
}

@keyframes palavras {
  0%,
  20% {
    content: "Front End 🎨";
  }
  21%,
  40% {
    content: "Student 💻📚";
  }
  41%,
  60% {
    content: "I’m 22 ✌️";
  }
  61%,
  80% {
    content: "Theology 📖";
  }
  81%,
  100% {
    content: "Loading...";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 10px);
  }
}

@keyframes blink {
  0% {
    border-left: solid 1px white;
  }
}

/* ----------------------         NAV       -----------------------------  */

.nav {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 220px;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #252525;
  color: white;
  border: 1px solid #252525;
  box-shadow: 1px 1px 2px #252525;
  transition: 0.05s;
}

.btn:hover {
  scale: 1.01;
}

.a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------         GRID/SECTIONS       -----------------------------  */

.grid {
  padding: 0px 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px 20px;
  height: 50%;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  width: 100%;
  height: 250px;
  transition: all 0.2s ease;
}

.h1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.ul {
  line-height: 1.5;
  padding: 10px;
  width: 100%;
  height: 100%;
  list-style: none;
}

.li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px;
  cursor: default;
}

.ul-xp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.5;
  padding: 10px;
  width: 100%;
  height: 100%;
  list-style: none;
}

.ul-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.li-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  transition: 0.2s;
}

.li-skills:hover {
  scale: 1.1;
  text-decoration: none;
  font-weight: bold;
}

.popover {
  display: flex;
  width: 100%;
}

.li-icon {
  margin-right: 20px;
}

.img {
  background-color: #b4b4b4;
  margin: 20px;
  width: 20%;
  border-radius: 100px;
}

/* ----------------------         SCROLLBAR       -----------------------------  */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 10px;
}

/* --------------------------------------------------------------------------------  */

@media (max-width: 1120px) {
  .h1 {
    font-size: 0.8rem;
  }
}

@media (max-width: 985px) {
  .h1 {
    font-size: 0.7rem;
  }
}

@media (max-width: 967px) {
  .grid {
    margin-top: 5%;
  }
  .title {
    font-size: 0.8rem;
  }
  .inline {
    font-size: 1rem;
  }
  .li {
    justify-content: center;
  }
  .section {
    padding: 0% 5%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 5%;
  }
  .btn {
    width: 180px;
    height: 40px;
  }
}

@media (max-width: 667px) {
  .nav {
    display: none;
    /* hamburger */
  }

  .txt-animado {
    font-size: 0.8rem;
  }
}
